$red: #D71717;
$darkRed: #A91212;

@mixin title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin input {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 2px 0;

  &:focus {
    border: 3px solid black;
    outline: none;
    margin: 0;
  }
}

@mixin button {
  @include title;
  border: 3px solid $red;
  background-color: $red;
  color: white;
  cursor: pointer;
  min-width: 105px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;

  &:hover {
    border: 3px solid $darkRed;
  }

  &:focus {
    outline: none;
  }
}

