@import '../styles/plugins';

.header {
  background-color: $red;
  padding: 20px 100px 20px;
  border-bottom: 5px solid $darkRed;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: auto;
}

.navigational {
  @include title;
  color: white;
  vertical-align: bottom;
  padding-top: 27px;
}

