@import '../styles/plugins';

.body {
  background-color: $tan;
}

.header {
  background-color: $red;
  padding: 20px 100px 20px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  width: $bodyWidth;
  justify-content: space-between;
  margin: auto;
}

.navigational {
  @include title;
  color: white;
  vertical-align: bottom;
  padding-top: 27px;
}

.footer {
  background-color: $gray;
  padding: 50px 0;
  text-align: center;
}
