@import '../styles/plugins';

.body {
  display: block;
  max-width: $bodyWidth;
  margin: auto;
  padding: 50px 0;
}

.blogArticle {
  background: $white;
  box-shadow: 0px 1px 5px $shadow;
  box-sizing: border-box;
  display: flex;
  justify-content: 'space-between';
  overflow: hidden;
  margin: 30px 0;
}

.blogImage {
  width: 30%;
}

.blogText {
  padding: 30px 50px;
  line-height: 1.3;
}

.blogTitle {
  @include title;
  padding-bottom: 20px;
}
