@import '../styles/plugins';

.container {
  @include contentWrapper;
  padding-bottom: 30px;
}

.travelResults {
  border: 5px solid $darkRed;
  background-color: $white;
  padding: 30px;
}

.title {
  @include title;
  font-size: 24px;
}

.flights {
  padding-top: 30px;
}

.table {
  @include table;
  width: 100%;
  box-sizing: border-box;

  tr td {
    height: 45px;
    vertical-align: middle;
  }
}

.rightAlign {
  text-align: right;
}

.selectTrip {
  @include button;
  width: 100px;
  display: inline-block;

  &:not(.selected) {
    background-color: $gray;
    border: 3px solid $gray;
    &:hover {
      border: 3px solid $darkRed;
    }
  }

  &:hover {
    background-color: $red;
  }
}

.confirmTravel {
  @include button;
  width: 170px;
  display: inline-block;
}
